
$primary-color: #3498db;
$secondary-color: #2ecc71;
$font-family: 'Arial', sans-serif;

body {
  font-family: $font-family;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 1200px;
  margin: 0 auto;

}

nav {
  background-color: $primary-color;
  color: white;
  text-align: center;
  display: flex;


  h1 {
    font-size: 2rem;
  }
}



.back-button {
  background-color: #3498db;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  margin: 10px;
}



@media screen and (max-width: 768px) {
  .container {
    padding: 10px;
  }

  nav {
    padding: 15px;
  }

  body {
    background-color: #ACE1AF;
  }

  

}

@media screen and (min-width: 1000px) {
  .container {
    padding: 20px;
  }

  nav {
    padding: 20px;
  }

  .body{
    background-color: #29AB87;
  }

}
