<form [formGroup]="plantForm">
    <label for="name">Name</label>
    <input id="name" formControlName="name" />
  
    <label for="description">Description</label>
    <input id="description" formControlName="description" />
  
    <label for="species">Species</label>
    <select id="species" formControlName="species">
      @for (species of species; ; track $index) {
        <option value="species">{{ species.name }}</option>
      }
    </select>
  
    <label for="lastWatered">Last Watered</label>
    <input type="date" id="lastWatered" formControlName="lastWatered" />
  
    <div>
      <label for="Event">Event</label>
      <button (click)="addEvent()">+</button>

      @for (event of event.controls; track $index) {
        <div [formGroup]="event">
          <input type="text" formControlName="type" placeholder="type">
          <input type="date" formControlName="date" placeholder="date">
          <button (click)="deleteEvent($index)">-</button>
        </div>
      }
    </div>

    <button type="submit" (click)="saveForm()" [disabled]="plantForm.invalid">Submit</button>
  </form>
  