<div class="container">
<div>
  <div>Search bar</div>
  <input 
  type="text" 
  [(ngModel)]="searchTerm" 
  (input)="searchPlants()" 
  placeholder="Szukaj po nazwie roślinki..." 
  />
  <button (click)="loadPlants()">Reset filter</button>

</div>

<div>
  <div>Search by checkbox</div>
  @for (species of species; track species.id) {
    <div>
      <input 
      type="checkbox" 
      [id]="species.id" 
      [value]="species.name" 
      (change)="onSpeciesChange($event)" 
    />
    <label [for]="species.id">{{ species.name }}</label>
    </div>
  }
  
  <button (click)="filterBySpecies()">Apply Filters</button>
</div>

<div>
  <button (click)="toggleSortOrder()">
    Zmień kolejność sortowania (Aktualna: {{ sortOrder }})
  </button>
</div>
@if (plants.length > 0) {
    <ul>
      <li>
        <div>Name:</div>
        <div>Species:</div>
        <div>Last watered:</div>
        <div></div>
    </li>
      @for (plant of plants; track plant.id) {
        <li>
          <strong>{{ plant.name }}</strong> 
          <div>{{ plant.species?.name }}</div>
          <div>{{ getFormattedDate(plant.lastWatered) }}</div>
          <button (click)="goToDetails(plant.id)">Details</button>
        </li>
      }
    </ul>
  } @else {
    <p>Nie ma roślin</p>
  }
</div>
