$primary-color: #00573F;
$secondary-color: #90EE90;
$font-family: 'Arial', sans-serif;
$button-color: #00573F;
$input-background: #f0f0f0;

body {
  font-family: $font-family;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

input[type="text"], select {
  width: 100%;
  max-width: 400px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: $input-background;
}

button {
  padding: 10px 20px;
  font-size: 1rem;
  border: none;
  background-color: $button-color;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: darken($button-color, 10%);
  }
}

.filtering {
  display: flex;
  gap: 5px;

  button {
    &.active {
      background-color: #007bff;
    }
  }
}

.checkbox, select {
  margin-top: 10px;
}

.filtering {
  border: #A9BA9D solid 1px;
  border-radius: 10px;
  padding: 5px;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
    border-bottom: 1px solid #607460;
    gap: 10px;
    background-color: #fff;
    border-radius: 5px;
    margin-bottom: 10px;
}

.lista {
  list-style: none;
  padding: 0;



    strong {
      font-size: 1.2rem;
      color: #333;
    }

    button {
      background-color: $primary-color;
      font-size: 0.8rem;
      margin-left: 10px;
      padding: 5px 10px;
      border-radius: 5px;
      cursor: pointer;
      &:hover {
        background-color: darken($primary-color, 10%);
      }
    }
  }


p {
  font-size: 1.2rem;
  color: #666;
}

@media screen and (max-width: 768px) {
  .container {
    padding: 15px;
    max-width: 768px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  input[type="text"] {
    font-size: 0.9rem;
  }

  button {
    font-size: 0.9rem;
    padding: 8px 16px;
  }

  label {
    font-size: 0.9rem;
  }

  .lista li {
    flex-direction: column;
    align-items: flex-start;
  }
}

@media screen and (min-width: 1024px) {
  .container {
    padding: 15px;
  }

  input[type="text"] {
    font-size: 1rem;
  }

  button {
    font-size: 1rem;
    padding: 16px 32px;
  }

  label {
    font-size: 1rem;
  }
}
