<div class="container">
@if (plant) {
    <h2>{{ plant.name }}</h2>
    <p><strong>Species:</strong> {{ plant.species?.name }}</p>
    <p><strong>Description:</strong> {{ plant.description }}</p>
    <p><strong>Last watered:</strong> {{ getFormattedDate(plant.lastWatered) }}</p>
    <p><strong>Created:</strong> {{ getFormattedDate(plant.created) }}</p>
    @if (plant.lastEvents.length > 0) {
        <div>
            <h4>Events:</h4>
            <ul>
                @for (event of plant.lastEvents; track event.idEvent) {
                    <li>
                        <div>Type: {{event.type}}</div>
                        <div>Date of occurance: getFormattedDate(event.date)</div>
                    </li>
                }
            </ul>
        </div>
    }


    @if (showModal) {

        <app-modal
            (confirmAction)="onConfirmDelete()"
            (cancelAction)="onCancelDelete()">
        </app-modal>
    }
    <button (click)="goToEditForm(plant.id)">Edit Plant</button>
    <button (click)="onDeleteClick(plant.id)">Delete Plant</button>

} @else {
    <p>Roślina o podanym ID nie została znaleziona.</p>
  }
</div>